* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  color: #000;
  background-color: #205375;
}

header {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

h1 {
  position: relative;
  width: 22rem;
  padding: 0.8rem;
  text-align: center;
  background-color: #d0cab2;
  border-radius: 0.8rem;
}

h1::after {
  content: "";
  position: absolute;
  background-color: #112b3c;
  width: 94%;
  height: 2rem;
  bottom: -13px;
  left: 3%;
  z-index: -1;
  border-radius: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.sectionSearch {
  position: relative;
  width: 22rem;
  padding: 1.2rem;
  text-align: center;
  background-color: #d0cab2;
  border-radius: 0.8rem;
}

.sectionSearch::after {
  content: "";
  position: absolute;
  background-color: #112b3c;
  width: 94%;
  height: 2rem;
  bottom: -13px;
  left: 3%;
  z-index: -1;
  border-radius: 0.8rem;
}

input {
  border: none;
  outline: none;
  background-color: #d0cab2;
  font-size: 1.6rem;
  margin-left: 4rem;
  width: 16rem;
}

input::placeholder {
  color: #3c3c3c;
}

.searchButton {
  position: relative;
  position: absolute;
  border-radius: 0.8rem;
  background-color: #ded9c4;
  left: -13%;
  top: 0.5rem;
  border: none;
  padding: 0.7rem 1.4rem;
  font-size: 1.5rem;
}

.searchButton::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 3rem;
  bottom: -1px;
  right: -0.6px;
  border-radius: 0.8rem;
  box-shadow: 6px 4px #a5a291;
}

.searchButton:hover {
  background-color: #f66b0e;
  transition: all ease-in-out 0.3s;
}

.sectionWeatherCards {
  margin-top: 4rem;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.card {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  position: relative;
  width: 30%;
  height: 18rem;
  max-width: 18rem;
  min-width: 14rem;
  border-radius: 0.8rem;
  background-color: #d0cab2;
  padding-top: 7.5rem;
  margin-bottom: 1.7rem;
}

.delete {
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  font-size: 1.1rem;
  color: #a5a291;
  cursor: pointer;
}

.delete:hover {
  color: #f66b0e;
}

.card:hover .delete {
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card::after {
  content: "";
  position: absolute;
  background-color: #112b3c;
  width: 94%;
  height: 2rem;
  bottom: -13px;
  left: 3%;
  z-index: -1;
  border-radius: 0.8rem;
}

.upper {
  position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: -20px;
  left: 10%;
  width: 80%;
  padding: 1rem 0 1rem 0;
  border-radius: 0.8rem;
  background-color: #ded9c4;
}

.city-temp {
  font-size: 2.2rem;
  margin-left: 1rem;
}

sup {
  margin-top: 0.3rem;
  font-size: 1.4rem;
}

.feels-like {
  color: #3c3c3c;
  margin-top: 1rem;
}

.sup2 {
  font-size: 0.5rem;
}

h5 {
  position: absolute;
  color: #f48e4a;
  bottom: 0.4rem;
}

figure {
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
}

figcaption {
  margin-right: 0.6rem;
}

.countrySup {
  background-color: #f66b0e;
  color: #fff;
  font-size: 0.6rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.img {
  width: 40%;
}

.upper::before {
  content: "";
  position: absolute;
  border-radius: 0.6rem;
  bottom: 0;
  left: 7%;
  width: 86%;
  height: 2rem;
  box-shadow: 0 8px #a5a291;
}

.upper::after {
  content: "";
  position: absolute;
  background-color: #ded9c4;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 0.4rem;
}
.pageFooter {
  position: relative;
  width: 100%;
  height: 5%;
}
.codeBy {
  transform: rotate(-90deg);
  position: absolute;
  right: -4rem;
  bottom: 5rem;
}

.currentWeatherCard {
  display: none;
}

@media screen and (max-width: 520px) {
  h1 {
    position: relative;
    width: 19rem;
    padding: 0.8rem 0.2rem;
    text-align: center;
    background-color: #d0cab2;
    border-radius: 0.6rem;
  }
  .sectionSearch {
    position: relative;
    width: 19rem;
    padding: 1rem;
    text-align: center;
    background-color: #d0cab2;
    border-radius: 0.6rem;
  }

  input {
    margin-left: 1rem;
  }

  .searchButton {
    border-radius: 0.6rem;
    left: 32%;
    top: 5rem;
    font-size: 1.3rem;
  }

  .searchButton::after {
    content: "";
    background-color: #112b3c;
    width: 94%;
    height: 2rem;
    bottom: -13px;
    left: 3%;
    z-index: -1;
    border-radius: 0.8rem;
    box-shadow: none;
  }
  .sectionWeatherCards {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
    padding: 1rem;
    width: 13rem;
  }
  .sectionSearch {
    width: 14rem;
    padding: 0.8rem 0rem;
  }

  input {
    width: 10rem;
    font-size: 1.3rem;
    margin-left: 0.3rem;
  }
  .searchButton {
    left: 26%;
  }
}
